.message {
  width: 450px;

  min-height: 326px;
  background-image: url('../Section/expresso_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.text {
  font-size: 38px;
  text-align: center;
  font-style: italic;
}
