.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40;
  gap: 20px;
  color: #010101;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url('./Section/statistics_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
