.section {
  width: 450px;
  min-height: 100px;
  padding: 30px 20px;

  // border: 2px solid rgba(0, 0, 0, 0.5);
  // border-radius: 10px;
  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding: 10px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 22px;
  font-size: 32px;
  background: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  color: black;
}
